{% extends 'base.html' %}

{% block content %}
<style>
    .hell {
        background-color: pink;
        height: 3rem;
        width: 3rem;
    }
</style>
<div style="border-radius: 1rem; margin: 2rem; text-align: center;">
    <h1 style="font-family: 'lobster', cursive;">Welcome Hell</h1>

    <form action="/account/hell_world/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="hell_world_input">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="POST!">
        </div>
    </form>

    {% if isClicked %}
    <h1>
        {{ isClicked.testText }}
    </h1>
    {% endif %}
</div>
{% endblock%}